
.hue_slider trough {
    background: linear-gradient(to right,
            /* Colors yaaaaaaaay */
            hsl(0, 100%, 50%),
            hsl(15, 100%, 50%),
            hsl(30, 100%, 50%),
            hsl(45, 100%, 50%),
            hsl(60, 100%, 50%),
            hsl(75, 100%, 50%),
            hsl(90, 100%, 50%),
            hsl(105, 100%, 50%),
            hsl(120, 100%, 50%),
            hsl(135, 100%, 50%),
            hsl(150, 100%, 50%),
            hsl(165, 100%, 50%),
            hsl(180, 100%, 50%),
            hsl(195, 100%, 50%),
            hsl(210, 100%, 50%),
            hsl(225, 100%, 50%),
            hsl(240, 100%, 50%),
            hsl(255, 100%, 50%),
            hsl(270, 100%, 50%),
            hsl(285, 100%, 50%),
            hsl(300, 100%, 50%),
            hsl(315, 100%, 50%),
            hsl(330, 100%, 50%),
            hsl(345, 100%, 50%),
            hsl(360, 100%, 50%));
}

.saturation_slider trough {
    background: var(--sat_gradient);
}

.value_slider trough {
    background: var(--val_gradient);
}

.color_slider trough {
    min-height: 32px;
    border-radius: 8px;
}

.color_slider highlight {
    background-color: transparent;
    background-image: none;
}

.color_slider slider {
    opacity: 1;
    border: 3px solid rgba(from black r g b / 0.25);
    transform: scale(0.5);
}
